*{
	margin: 0;
	padding: 0;
}

h2 {
	text-align: center;
	text-decoration: none;
	font-weight: normal;
	margin: 20px 0 20px 0;
}

body{
	width: 1789px;
	zoom: 67%;
}

#page_container {
	width: 459px;
	height: 2250px;
	margin-right: auto;
	margin-left: auto;
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
}

#right_space, #left_space{
	background: #fff;
	position: absolute;
	top: 830px;
	height: 800px;
	width: 663px;
	z-index: 9999;
}

#right_space {
	left: 1126px;
}

.text_area{
	width: 420px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
}

.button{
	display: block;
	margin: 0 auto;
}

.border{
	margin: 35px 0 25px 0;
}

.menu{
	position: absolute;
	margin-top: -55px;
	margin-left: 5px;
}

#menu2{
	margin-left: 400px;
}

/**BANNERS **/
.banner{
	width: 459px;
}

#squareL, #squareR{
	margin-top: 30px;
	margin-left: 24px;
}


.text_area_over{
	position: absolute;
	width: 420px;
	line-height: 1.4;
}

#b1text{
	margin-top: -120px;
	left:895px;
	margin-left: -210px;

}

#b2text{
	margin-top: -50px;
	left:895px;
	margin-left: -210px;
}

#b3text, #b4text{
	margin-top: -30px;
}

#b4text{
	margin-left: 255px;
}

#b3text {
	margin-left: 35px;
}



#exp {
	text-align: center;
	margin: 35px 0 0 15px;
}

/**VOTE AREA**/
#vote_area{
	margin-top: 20px;
	margin-bottom: 30px;
	opacity: 1;
}

.vote_option{
	display: block;
	margin: 1px 0 1px 0;
}

.case_crop{
	display: inline-block;
	width: 194px;
	height: 140px;
	overflow: hidden;
}

.case_crop:hover {
	cursor: pointer;
}

.case{
	position: relative;
	width: 194px;
	z-index: 1;
}

.voteButton{
	position: absolute;
	margin-left: 5px;
	display: inline-block;
	width: 260px;
	height:140px;
	z-index: 4;
}

.carrot {
	position: absolute;
	margin-left: -25px;
	margin-top: 50px;
	z-index: 3;
}
