/**ZOOM AREA AND FUNCTIONS **/
.drag_area{
	position: absolute;
}

#da2 {
	margin-left: 500px;
}

.button_zoom {
	position: absolute;
	margin: 5px;
	z-index: 2;
}

#zoom_area{
	background-color: #fff;
	position: absolute;
	z-index: 100;
	width: 365px;
	height: 750px;
	left:895px;
	margin-left: -182.5px;
	visibility: hidden;
	opacity: 0;
}

#zoom_out_button1, #zoom_out_button2 {
	position: absolute;
	margin: 40px 0 0 20px;
	z-index: 150;
	width: 35px;
	height: 35px;
}

#zoom_out1, #zoom_out2 {
	width: 35px;
	height: 35px;
}

#zoom_out1:hover, #zoom_out2:hover{
	cursor: pointer;
}

#zoom_view1, #zoom_view2 {
	position: relative;
	margin-left: 10px;
	margin-top: 30px;
}

#case_info {
	text-align: center;
	margin: 10px 0 10px 0;
}

.exp_note {
	position: absolute;
	left: 50%;
	margin-left: -105px;
	margin-top: -85px;
	visibility: hidden;
	opacity: 0;
}

#vbLarge1, #vbLarge2 {
	margin-left: 9px;
	opacity: 1;
}

#vbLarge1:hover , #vbLarge2:hover {
	cursor: pointer;
}

.arrow{
	position: absolute;
	left: 50%;
	top: 350px;
	z-index: 200;
}

.arrow:hover {
	cursor: pointer;
}

#arwL{
	margin-left: -225px;
}

#arwR{
	margin-left: 190px;
}